{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Mkulima App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <header class="header">
    <div class="logo">
      <a href="{% url 'landing' %}" class="logo-text">Mkulima App</a>
    </div>
    <nav class="nav">
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'products:dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main class="main-content">
    {% block content %}{% endblock %}
  </main>

  <!-- Hide the footer only on chat pages -->
  {% if "/chat/" not in request.path %}
  <footer class="footer">
      <div class="container">
          <p>&copy; 2025 Mkulima App - All Rights Reserved</p>
      </div>
  </footer>
  {% endif %}

  {% block scripts %}{% endblock %}
</body>
</html>